<div class="home">
	<h1>Links from philosophy Twitter <%=link_to image_tag('rss.png'), root_url(:format => :rss)%></h1>
	<p class="lead"><% if @links.any? %><%=@links.count%> links. Last refreshed <%=@links.first.created_at%><% end %></p>
	
	<% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
              <%= value.html_safe %>
        </div>
  	<% end %>
      
	<div class="table-responsive">
		<table class="table table-striped w-auto">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Article</th>
		      <th scope="col">User</th>
		      <th scope="col">Posted</th>
		      <th scope="col"></th>
		      <% if @admin_mode %>
		      <th scope="col" colspan="2"></th>
		      <% end %>
		    </tr>
		  </thead>
		  <tbody>
		  	<% n = 0 %>
			<% @links.page(params[:page] || 1).each do |link| %>
			<% n += 1 %>
			<%=render partial: '/links/show', locals: {n: n, link: link, admin_mode: @admin_mode}, cached: !@admin_mode %>
			<% end %>
		  </tbody>
		</table>
	</div>

	<%= paginate @links.page(params[:page] || 1) %>
<p><%=link_to 'About', pages_url %></p>
<p><%=link_to image_tag('valid-rss-rogers.png', alt: "[Valid RSS]", title: "Validate my RSS feed"), "https://validator.w3.org/feed/check.cgi?url=https%3A//phlinks.herokuapp.com/%3Fformat%3Drss" %></p>
<p><%=link_to image_tag('github.png', alt: "Available on Github", title: "Available on Github"), "https://github.com/seyedrazavi/phlinks" %></p>
</div>
