<%= form_with(model: link, local: true) do |form| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>
  <p class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </p>

  <p class="field">
    <%= form.label :posted_at %>
    <%= form.datetime_select :posted_at %>
  </p>

  <p class="field">
    <%= form.label :user_name %>
    <%= form.text_field :user_name %>
  </p>

  <p class="field">
    <%= form.label :user_screenname %>
    <%= form.text_field :user_screenname %>
  </p>

  <p class="actions">
    <%= form.submit class: 'btn btn-primary' %>
    <%= link_to 'Fetch Title', fetch_link_path(@link), class: 'btn btn-secondary' %>
  </p>
<fieldset>

<% end %>
