<% cache_unless admin_mode, link, expires_in: 10.minutes do %>
<tr>
	<th scope="row"><%=n%></th>
	<td><a href="<%=link.url%>" target="_link"  data-toggle="tooltip" data-placement="top" title="<%=link.description%>"><%=link.title%></a></td>
	<td><a href="https://twitter.com/<%=link.user_screenname%>"><%=link.user_name%></a></td>
	<td><%=link.posted_at%></td>
	<td>
		<%=link_to image_tag('pocket.png', alt: '[Add to Pocket]', title: 'Add to Pocket'), pocket_add_url(url: link.url, title: link.title) %>
	</td>
	<% if admin_mode %>
	<td><%= link_to "&#9998;".html_safe, edit_link_path(link) %></td>
	<td><%= link_to "&#x274C;".html_safe, link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
</tr>
<% end %> 
